*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
}
.navContainer{
    width: 100%;
    max-width: 1024px;
    color: white; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-weight: 500;

}
.navButton{
    color: #003580;
    border: none;
    border-radius: 5px;
    margin: 20px;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    background-color: white;
}